.Home-Carousel img{
    max-height: 35rem;
    width: 100%;
    object-fit: cover;
}

.carousel-indicators [data-bs-target] {
    display: flex !important;
    justify-content: center !important;
    align-items: center;
    width: 1.5rem !important;
    height: 0.3rem !important;
    border: 1px solid transparent !important;
    border-radius: 0.2rem;
    transition: width .3s ease !important;
    -webkit-transition: width .3s ease !important;
    -moz-transition: width .3s ease !important;
    -ms-transition: width .3s ease !important;
    -o-transition: width .3s ease !important;
    -webkit-border-radius: 0.2rem;
    -moz-border-radius: 0.2rem;
    -ms-border-radius: 0.2rem;
    -o-border-radius: 0.2rem;
}
.carousel-indicators button{
    
    margin: 0px !important;
    
}
  .carousel-indicators .active {
    width: 3rem !important;
    height: 0.35rem !important;
    background-color: #ff6161 !important;
  }
  